BIMReports/Web References/com.cbimtech.FilesServices/FilesUploadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.cbimtech.com/WebServices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.cbimtech.com/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.cbimtech.com/WebServices/">
      <s:element name="UploadFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="dest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadFilesSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFiles" />
  </wsdl:message>
  <wsdl:message name="UploadFilesSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="FilesUploadServiceSoap">
    <wsdl:operation name="UploadFiles">
      <wsdl:input message="tns:UploadFilesSoapIn" />
      <wsdl:output message="tns:UploadFilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilesUploadServiceSoap" type="tns:FilesUploadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFiles">
      <soap:operation soapAction="http://services.cbimtech.com/WebServices/UploadFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FilesUploadServiceSoap12" type="tns:FilesUploadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFiles">
      <soap12:operation soapAction="http://services.cbimtech.com/WebServices/UploadFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilesUploadService">
    <wsdl:port name="FilesUploadServiceSoap" binding="tns:FilesUploadServiceSoap">
      <soap:address location="http://services.cbimtech.com/WebServices/FilesUploadService.asmx" />
    </wsdl:port>
    <wsdl:port name="FilesUploadServiceSoap12" binding="tns:FilesUploadServiceSoap12">
      <soap12:address location="http://services.cbimtech.com/WebServices/FilesUploadService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>